.side-menu {
  width: 348px;
  flex-shrink: 0;
  margin: 50px 0 0 25px;
  padding: 0 0 25px;

  .aside-link {
    box-shadow: 0px 10px 22px rgba(44, 116, 255, 0.15);
    border-radius: 10px;
    display: flex;
    min-height: 80px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    color: #151515;
    transition: 0.2s;
  
    .arrow {
      background: #ffffff;
      min-width: 48px;
      min-height: 48px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
    }
  
    p {
      margin: 0;
      font-family: PT Root UI;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
  
      a {
        display: block;
        font-weight: bold;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    &:hover {
      h5 {
        color: $accent;
        text-decoration: underline;
      }
  
      .arrow {
        background-color: $accent;
        color: white;
      }
    }
  
    &.disabled {
      &:hover {
        h5 {
          color: #151515;
          text-decoration: none;
        }
      }
    }
  }

  @media only screen and (max-width: 1360px) {
    width: 100%;
    margin: 50px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    .aside-link {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: 991px) {
    grid-gap: 16px;
  }

  @media only screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}