.statement-info-modal {
  &__wrapper {
    width: 100%;
    padding: 32px 24px;
    max-width: 520px;
    
    @media only screen and (max-width: 767px) {
      max-width: none;
    }
  }

  .MuiBackdrop-root {
		background: rgba(255, 255, 255, 0.8);
	}

	.MuiDialog-paper {
		margin: 0;
	}

  .MuiPaper-root {
		@media only screen and (max-width: 767px) {
			max-width: none;
			width: 100%;
			min-height: 100%;
		}
	}

  &__title {
    font-family: TT Wellingtons;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #151515;
    font-feature-settings: "tnum" on, "lnum" on;
    margin: 0 0 25px;

    @media only screen and (max-width: 767px) {
      font-size: 16px;
		}
  }

  &__text {
    font-family: PT Root UI;
    font-size: 14px;
    line-height: 130%;

    &:not(:first-child) {
      margin: 15px 0 0;
    }
  }

  &__list {
    font-family: PT Root UI;
    font-size: 14px;
    line-height: 130%;
    margin: 0;

    & > li {
      margin: 5px 0 0;
    }
  }

  &__content {
    max-height: 50vh;
    overflow: auto;
    padding: 0 10px 0 0;
    margin: 0 0 24px;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background: #E7E7E7;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background: #B3B3B3;
    }

    @media only screen and (max-width: 767px) {
      max-height: none;
		}
  }

  &__confirm {
    width: 100%;
    height: 56px;
    margin: 0 0 15px;
  }

  &__cancel {
    width: 100%;
    height: 56px;
  }
}