/* 
- All
*/
.select2-results__option {
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-transition-property: color, background, mix-blend-mode, opacity, visibility, height;
  -o-transition-property: color, background, mix-blend-mode, opacity, visibility, height;
  transition-property: color, background, mix-blend-mode, opacity, visibility, height;
}

.select2-search--dropdown .select2-search__field {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  color: inherit;
  width: 100%;
}

.select2-search--dropdown .select2-search__field {
  font-family: 'Fira Sans', sans-serif;
}

/* 
- Accent color
*/
.select2-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0;
  position: relative;
  min-width: 100%;
  max-width: 100%;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 56px;
  font-size: 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 18px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  line-height: 1;
}

.select2-container .select2-selection--single[aria-expanded="true"] {
  background: #EFEFF4;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-right: 20px;
  overflow: hidden;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
  color: #8C8C8C;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 50%;
  right: 18px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0039A6;
  margin-top: -1px;
}

@media (max-width: 767.98px) {
  .select2-container .select2-selection--single {
    min-height: 40px;
    font-size: 16px;
    padding: 10px 18px;
  }
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-dropdown {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid #D1D1D1;
  margin: 4px 0 0;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-dropdown--above {
  margin: -4px 0 0;
}

.select2-results {
  display: block;
  max-height: 230px;
  overflow: auto;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 11px 30px;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-results__option:hover, .select2-results__option--highlighted {
  background: #EFEFF4;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 10px;
}

.select2-search--dropdown .select2-search__field {
  font-size: 16px;
  color: #9b9b9b;
  font-weight: 300;
  padding: 10px 15px;
  margin: 0;
  border: 1px solid #606060;
  resize: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
