@font-face {
  font-family: "base-icon";
  src: url("/fonts/base-icon.eot?69e5u");
  src: url("/fonts/base-icon.eot?69e5u#iefix") format("embedded-opentype"),
    url("/fonts/base-icon.ttf?69e5u") format("truetype"),
    url("/fonts/base-icon.woff?69e5u") format("woff"),
    url("/fonts/base-icon.svg?69e5u#base-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="base-icon-"],
[class*=" base-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "base-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.base-icon-account:before {
  content: "\E001";
}

.base-icon-arrow:before {
  content: "\E002";
}

.base-icon-back-2:before {
  content: "\E003";
}

.base-icon-back:before {
  content: "\E004";
}

.base-icon-bell:before {
  content: "\E005";
}

.base-icon-book:before {
  content: "\E006";
}

.base-icon-bulb-outline:before {
  content: "\E007";
}

.base-icon-calendar:before {
  content: "\E008";
}

.base-icon-check:before {
  content: "\E009";
}

.base-icon-copy:before {
  content: "\E00A";
}

.base-icon-cross-2:before {
  content: "\E00B";
}

.base-icon-cross-3:before {
  content: "\E00C";
}

.base-icon-cross-4:before {
  content: "\E00D";
}

.base-icon-cross:before {
  content: "\E00E";
}

.base-icon-delete:before {
  content: "\E00F";
}

.base-icon-desktop:before {
  content: "\E010";
}

.base-icon-doc:before {
  content: "\E011";
}

.base-icon-down-2:before {
  content: "\E012";
}

.base-icon-down-3:before {
  content: "\E013";
}

.base-icon-down:before {
  content: "\E014";
}

.base-icon-file-add:before {
  content: "\E015";
}

.base-icon-file-done:before {
  content: "\E016";
}

.base-icon-file:before {
  content: "\E017";
}

.base-icon-filter:before {
  content: "\E018";
}

.base-icon-image-add:before {
  content: "\E019";
}

.base-icon-image:before {
  content: "\E01A";
}

.base-icon-info:before {
  content: "\E01B";
}

.base-icon-letter-a:before {
  content: "\E01C";
}

.base-icon-media:before {
  content: "\E01D";
}

.base-icon-message:before {
  content: "\E01E";
}

.base-icon-microchip:before {
  content: "\E01F";
}

.base-icon-more-vert:before {
  content: "\E020";
}

.base-icon-next-2:before {
  content: "\E021";
}

.base-icon-next-3:before {
  content: "\E022";
}

.base-icon-next-4:before {
  content: "\E023";
}

.base-icon-next:before {
  content: "\E024";
}

.base-icon-pdf-2:before {
  content: "\E025";
}

.base-icon-pdf:before {
  content: "\E026";
}

.base-icon-person-add:before {
  content: "\E027";
}

.base-icon-placeholder:before {
  content: "\E028";
}

.base-icon-plus-2:before {
  content: "\E029";
}

.base-icon-plus:before {
  content: "\E02A";
}

.base-icon-print:before {
  content: "\E02B";
}

.base-icon-question-answer:before {
  content: "\E02C";
}

.base-icon-question:before {
  content: "\E02D";
}

.base-icon-refresh:before {
  content: "\E02E";
}

.base-icon-search:before {
  content: "\E02F";
}

.base-icon-settings:before {
  content: "\E030";
}

.base-icon-sm:before {
  content: "\E031";
}

.base-icon-sort:before {
  content: "\E032";
}

.base-icon-star:before {
  content: "\E033";
}

.base-icon-storage:before {
  content: "\E034";
}

.base-icon-text:before {
  content: "\E035";
}

.base-icon-tm:before {
  content: "\E036";
}

.base-icon-up-3:before {
  content: "\E037";
}

.base-icon-up:before {
  content: "\E038";
}

.base-icon-widgets:before {
  content: "\E039";
}

.base-icon-edit:before {
  content: "\E03A";
}
