.panel {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
  }

  &__content {
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;

    @media (min-width: 1200px) {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }

  &__side-menu {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;

    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}