.product-classifiers {
  &__fields {
    display: grid;
    grid-template-columns: 100px 225px 530px 165px;
    grid-gap: 20px;
    align-items: flex-end;
    margin: 0 0 20px;

    .input-row {
      margin-bottom: 0;
    }

    .custom-select__indicators {
      display: none;
    }

    @media only screen and (max-width: 1460px) {
			grid-template-columns: 100px 225px 380px 165px;
		}

    @media only screen and (max-width: 991px) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
				'first first second second second second'
				'third third third third fourth fourth';
		}

		@media only screen and (max-width: 767px) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
				'first second second'
				'third third third'
				'fourth fourth fourth';
			grid-gap: 18px;
			margin-bottom: 18px;
		}

    @media only screen and (max-width: 299px) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
				'first first second second second'
				'third third third third third'
				'fourth fourth fourth fourth fourth';
			grid-gap: 12px;
			margin-bottom: 18px;
		}
  }

  &__fields-item {
    @media only screen and (max-width: 991px) {
      &--first {
        grid-area: first;
      }
  
      &--second {
        grid-area: second;
      }
  
      &--third {
        grid-area: third;
      }
  
      &--fourth {
        grid-area: fourth;
      }
    }

    @media only screen and (max-width: 767px) {
			input {
				height: 56px;
			}
		}
  }

  &__control {
    display: flex;
    margin: 0 0 35px;

    @media only screen and (max-width: 767px) {
      display: block;
      margin: 0 0 20px;
		}
  }

  &__control-item {
    display: flex;
    align-items: center;
    margin-right: 27px;
    cursor: pointer;
    position: relative;
    -webkit-touch-callout: none;
    user-select: none;

    & > img {
      flex-shrink: 0;
      margin-right: 7px;
    }

    & > span {
      font-size: 16px;
      display: block;
      font-weight: 700;
      color: #0039a6;
    }

    @media only screen and (max-width: 767px) {
      margin: 0 0 20px;
      font-size: 14px;
      line-height: 18px;
		}
  }

  &__content {
    min-height: 300px;

    @media only screen and (max-width: 1360px) {
			min-height: auto;
		}
  }

  &__description {
    max-width: 720px;
  }

  &__title {
    color: #151515;
    font-family: TT Wellingtons;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin: 0 0 10px;

    @media only screen and (max-width: 767px) {
      font-size: 14px;
		}
  }

  &__subtitle {
    margin: 0 0 24px;
    color: #151515;
    font-family: PT Root UI;
    font-size: 12px;
    line-height: 120%;
  }

  &__text {
    color: #151515;
    font-family: PT Root UI;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;

    @media only screen and (max-width: 767px) {
      font-size: 16px;
		}
  }

  &__empty-title {
    margin: 0 0 10px;
    font-family: TT Wellingtons;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #0039A6;
    opacity: 0.5;
  }

  &__empty-subtitle {
    font-family: PT Root UI;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #0039A6;
    opacity: 0.5;
  }

  &__result {
    font-family: PT Root UI;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #54566C;
    margin: 0 0 10px;

    @media only screen and (max-width: 767px) {
      margin: 40px 0 20px;
		}
  }

  &__list {
    display: grid;
    grid-template-columns: 100px calc(100% - 124px);
    column-gap: 24px;

    @media only screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
		}
  }

  &__filters-container {
    margin: 40px 0 0;

    @media only screen and (min-width: 1024px) {
      overflow-y: auto;
      width: 110px;
      min-height: 370px;

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F5F5F5;
      }
    
      &::-webkit-scrollbar {
        width: 6px;
        background: #E7E7E7;
      }
    
      &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: #B3B3B3;
      }
		}

    @media only screen and (max-width: 1023px) {
      margin: 30px 0 40px;
      display: flex;
      flex-wrap: wrap;
		}

    @media only screen and (max-width: 767px) {
      margin: 0 0 40px;
      width: 100%;
      display: block;
		}
  }

  &__filter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 37px;
    border-radius: 4px;
    color: #54566C;
    font-family: TT Wellingtons;
    font-size: 16px;
    font-weight: bold;
    line-height: 130%;
    font-feature-settings: 'tnum' on, 'lnum' on;
    transition: all 0.4s;

    &.active {
      background: #808285;
      color: #FFFFFF;
    }

    &:hover {
      border: 1px solid #808285;
    }
  }

  &__list-inner {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;

    @media only screen and (max-width: 767px) {
      display: block;
		}
  }

  &__list-title {
    font-family: PT Root UI;
    font-size: 12px;
    line-height: 120%;
    color: #54566C;
    padding: 12px 24px 12px 0;

    @media only screen and (max-width: 767px) {
      padding: 6px 16px 6px 0;
		}
  }

  &__list-number,
  &__list-text {
    font-family: PT Root UI;
    font-weight: 500;
    color: #151515;
    padding: 6px 24px 6px 0;

    &--grey {
      background: #F7F9FF;
    }

    @media only screen and (max-width: 1200px) {
      padding: 6px 16px 6px 0;
		}

    @media only screen and (max-width: 767px) {
      display: grid;
      grid-template-columns: 2fr 3fr;
		}
  }

  &__list-number {
    font-size: 18px;
    line-height: 130%;

    @media only screen and (max-width: 767px) {
      font-size: 14px;
		}
  }

  &__list-text {
    font-size: 16px;
    line-height: 20px;

    @media only screen and (max-width: 767px) {
      font-size: 14px;
		}
  }

  .pagintaion {
    margin: 40px 0 24px;

    @media only screen and (min-width: 768px) {
      justify-content: flex-start;
		}
  }
}