.search-page {
	&__inputs-container {
		display: grid;
		grid-template-columns: 348px 225px 225px 125px;
		grid-gap: 24px;
		align-items: flex-end;
		margin-bottom: 17px;

		@media only screen and (max-width: 1360px) {
			grid-template-columns: 308px 222px 225px 125px;
			grid-gap: 20px;
		}

		@media only screen and (max-width: 991px) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
				'first first first second second second'
				'third third third third fourth fourth';
		}

		@media only screen and (max-width: 767px) {
			grid-template-columns: 1fr;
			grid-template-areas:
				'first'
				'second'
				'third'
				'fourth';
			grid-gap: 18px;
			margin-bottom: 18px;
		}
	}

	&__search-input {
		.input-row {
			margin-bottom: 0;
		}

		@media only screen and (max-width: 767px) {
			input {
				height: 56px;
			}
		}

		&--first {
			@media only screen and (max-width: 991px) {
				grid-area: first;
			}
		}

		&--second {
			@media only screen and (max-width: 991px) {
				grid-area: second;
			}
		}
		&--third {
			@media only screen and (max-width: 991px) {
				grid-area: third;
			}
		}
		&--fourth {
			@media only screen and (max-width: 991px) {
				grid-area: fourth;
			}
		}
	}

	&__date-picker {
		width: 50%;
	
		.MuiFormControl-root {
			width: 100%;
		}
	
		.MuiInputBase-root {
			padding: 0;
		}
	
		.MuiInputBase-input {
			color: #333333;
			font-size: 18px;
			padding: 17px 0 17px 18px;
			height: 56px;
			box-sizing: border-box;
		}
	
		.MuiFormLabel-root {
			color: #a9a9a9;
			font-size: 16px;
			font-weight: 400;
	
			&.Mui-focused {
				color: #a9a9a9;
			}
	
			&.Mui-error {
				color: #f44336;
			}
		}
	
		.MuiFormHelperText-root.Mui-error {
			position: absolute;
			bottom: -20px;
		}
	
		&:first-child {
			.MuiInputBase-root {
				border-radius: 4px 0 0 4px;
			}
		}
	
		&:nth-child(2) {
			.MuiInputBase-root {
				border-radius: 0 4px 4px 0px;
			}
		}
	
		.MuiInputAdornment-positionEnd {
			margin-left: 0;
		}
	
		.MuiButtonBase-root.MuiIconButton-root {
			padding: 8px;
		}
	
		.MuiOutlinedInput-root {
			.MuiOutlinedInput-notchedOutline {
				border: 1px solid #dbdbdb;
			}
	
			&:hover .MuiOutlinedInput-notchedOutline {
				border: 1px solid #dbdbdb;
			}
	
			&.Mui-focused .MuiOutlinedInput-notchedOutline {
				border: 1px solid #dbdbdb;
			}
	
			&.Mui-error .MuiOutlinedInput-notchedOutline {
				border: 1px solid #f44336;
			}
		}
	
		.MuiSvgIcon-root {
			fill: #CBD3E2;
		}
	}

	&__result-number {
		font-family: 'PT Root UI';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		color: #54566c;
		letter-spacing: 0.16px;

		@media only screen and (max-width: 991px) {
			margin-bottom: 24px;
		}
	}

	&__control {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 25px;

		@media only screen and (max-width: 991px) {
			display: block;
		}
	}

	&__buttons-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__download-result {
		display: flex;
		align-items: center;
		font-family: PT Root UI;
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.16px;
		color: #54566C;
		cursor: pointer;
		margin: 0 40px 0 0;

		&:hover {
			color: $accent;
		}

		& > .base-icon-down-2 {
			font-size: 24px;
			margin-right: 6px;
		}
	}

	&__sort-container {
		display: flex;
		align-items: center;
	}

	&__sort-title {
		font-family: PT Root UI;
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.16px;
		color: #151515;
	}
	
	&__sort-button {
		display: flex;
		align-items: center;
		font-family: PT Root UI;
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.16px;
		color: #CBD3E2;
		cursor: pointer;
		transition: all 0.2s;

		&.active {
			color: $accent;
		}

		&:hover {
			color: $accent;
		}

		@media only screen and (min-width: 768px) {
			margin: 0 0 0 28px;
		}
	}

	&__tooltip-button {
		cursor: pointer;
		color: #54566C;
		border: none;
		background: none;
		display: block;
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		padding: 6px 15px;
		text-align: left;

		&:hover {
			background: #EEF1FA;
		}
	}

	&__desktop-filters {
		margin-bottom: 25px;
		max-width: 843px;
	
		@media only screen and (max-width: 991px) {
			display: none;
		}
	}

	&__desktop-filters-inputs-container {
		display: grid;
		grid-template-columns: 348px 225px 225px;
		grid-gap: 16px 24px;

		@media only screen and (max-width: 1360px) {
			grid-template-columns: 308px 222px 225px;
			grid-gap: 20px;
		}
	}

	&__desktop-filters-input {
		.input-row {
			margin-bottom: 0;

			label {
				margin-bottom: 10px;
			}
		}
	}

	&__desktop-filters-field {
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__mobile-filters {
		display: block;
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		height: 100vh;
		background: #fff;
		padding: 27px 32px 31px;
		z-index: 100;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: auto;

		@media only screen and (max-width: 767px) {
			padding: 16px 20px 20px;
		}
		
		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: #F5F5F5;
		}
	
		&::-webkit-scrollbar {
			width: 6px;
			background: #E7E7E7;
		}
	
		&::-webkit-scrollbar-thumb {
			border-radius: 15px;
			background: #B3B3B3;
		}
	}

	&__mobile-filters-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;

		@media only screen and (max-width: 767px) {
			border-bottom: 1px solid #dbdbdb;
			margin: 0 -20px;
			padding: 0 20px;
			margin-bottom: 16px;
			padding-bottom: 16px;
			
		}

		span {
			font-size: 22px;
			font-weight: 700;
			font-family: $tt;
		}
	}

	&__mobile-filters-close {
		cursor: pointer;
	}

	&__mobile-filters-inputs-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}

	&__mobile-filters-input {
		.select2-container .select2-selection--single {
			height: 56px;
		}
		
		.input-row {
			margin-bottom: 0;
		}

		input {
			height: 56px;
		}
	}
	
	&__mobile-filters-buttons {
		display: flex;
		align-items: center;
		margin-top: 20px;

		@media only screen and (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__mobile-filters-clear {
		background: #eef1fa;
		display: flex;
		align-items: center;
		border-radius: 8px;
		border: none;
		justify-content: center;
		height: 56px;
		color: $accent;
		width: 100%;
		font-weight: 700;

		@media only screen and (max-width: 991px) {
			margin-right: 20px;
		}

		@media only screen and (max-width: 767px) {
			margin-right: 20px;
			width: 100%;
		}

		@media only screen and (max-width: 767px) {
			margin-right: 0;
		}

		&:hover {
			background: $accent;
			color: #fff;
		}
	}

	&__mobile-filters-confirm {
		width: 100%;
		height: 56px;
		display: flex;
		align-items: center;
		background: #0039a6;
		border-radius: 8px;
		justify-content: center;
		color: #fff;
		border: 1px solid transparent;
		cursor: pointer;
		font-weight: 700;
		border: 1px solid transparent;

		@media only screen and (max-width: 767px) {
			width: 100%;
			margin-top: 20px;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				display: block;
				right: 0;
				bottom: 0;
				top: -15px;
				background: #dbdbdb;
				width: 100vw;
				margin: 0 -20px;
				height: 1px;
			}
		}

		&:hover {
			background: #fff;
			color: $accent;
			border: 1px solid $accent;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		margin-bottom: 43px;

		@media only screen and (max-width: 991px) {
			margin-bottom: 32px;
		}

		@media only screen and (max-width: 767px) {
			display: block;
		}
	}

	&__info-item {
		display: flex;
		align-items: center;
		margin-right: 27px;
		cursor: pointer;
		position: relative;
		-webkit-touch-callout: none;
		user-select: none;

		@media only screen and (max-width: 767px) {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		> img {
			flex-shrink: 0;
			margin-right: 7px;
		}

		> span {
			font-size: 16px;
			display: block;
			font-weight: 700;
			color: #0039a6;
		}
	}

	&__item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		border-bottom: 1px solid #EEF1FA;
		padding: 26px 12px;
	}

	&__item-content {
		cursor: pointer;

		&:hover {
			.search-page__item-title {
				color: $accent;
				text-decoration: underline;
			}
		}
	}

	&__item-top-data {
		display: flex;
		align-items: center;
		margin: 0 0 12px;

		@media only screen and (max-width: 767px) {
      flex-direction: column;
			align-items: flex-start;
		}
	}

	&__item-bottom-data {
		display: flex;
		align-items: center;

		@media only screen and (max-width: 767px) {
      flex-direction: column;
			align-items: flex-start;
		}
	}

	&__item-number {
		font-family: TT Wellingtons;
		font-weight: bold;
		font-size: 18px;
		line-height: 130%;
		font-feature-settings: 'tnum' on, 'lnum' on;
		color: #0039A6;
		margin: 0 24px 0 0;

		@media only screen and (max-width: 767px) {
      margin: 0 0 10px;
		}
	}
	
	&__item-title {
		font-family: TT Wellingtons;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		color: #151515;
		margin: 0 24px 0 0;

		@media only screen and (max-width: 767px) {
      margin: 0 0 10px;
		}
	}
	
	&__item-message {
		padding: 4px 16px;
		background: #F6F7FF;
		border-radius: 18px;
		font-family: PT Root UI;
		font-weight: 500;
		font-size: 12px;
		line-height: 130%;
		color: #54566C;

		@media only screen and (max-width: 767px) {
      margin: 0 0 10px;
		}
	}

	&__item-application-number {
		margin: 0 24px 0 0;
	}

	&__item-date {
		margin: 0 120px 0 0;
	}

	&__item-public-date {
		margin: 0 24px 0 0;
	}

	&__item-registration-date {
		margin: 0 24px 0 0;
	}

	&__item-application-number,
	&__item-date,
	&__item-public-date,
	&__item-registration-date {
		font-family: PT Root UI;
		font-size: 14px;
		line-height: 130%;
		color: #54566C;

		@media only screen and (max-width: 767px) {
      margin: 0 0 10px;
		}
	}

	&__tooltip-trigger {
		display: block;
    color: $accent;
    font-size: 15.5px;
    width: 1em;
    cursor: pointer;
		text-align: center;
	}

	&__drawer-inner {
		padding: 32px;
	}

	&__drawer-title {
		font-family: $tt;
		font-weight: bold;
		font-size: 22px;
		line-height: 130%;
		color: #151515;
		margin: 0 0 12px;
	}

	&__drawer-button {
		font-family: $default-font;
		cursor: pointer;
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.16px;
		color: #808285;
		padding: 12px 0;

		&:hover {
			background: #EEF1FA;
		}
	}

  .pagintaion {
    margin: 40px 0 24px;

    @media only screen and (min-width: 768px) {
      justify-content: flex-start;
		}
  }
}
