@import "vars";

%text-color {
  color: $text;
}

/* 
- All
*/

%a-reset {
  color: inherit;
  text-decoration: none;
}

%icon-reset {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  font-smoothing: antialiased;
}

%ul-reset {
  margin: 0;
  padding: 0;

  li {
    display: block;
  }
}

%inline-b {
  display: inline-block;
  vertical-align: middle;
}

%transition {
  transition: 300ms ease;
  transition-property: color, background, mix-blend-mode, opacity, visibility,
    height;
}

%cover {
  background: 50% no-repeat;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    body.mobile-images-true & {
      background-size: contain !important;
    }
  }
}

%button-reset {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  line-height: 1;
  outline: none;
  overflow: hidden;
  padding: 0;
  pointer-events: all;
  position: relative;
  text-decoration: none;
  //text-overflow: ellipsis;
  transition: all 300ms ease;
  justify-content: center;

  span {
    //white-space: nowrap;
    overflow: hidden;
    //text-overflow: ellipsis;
  }
}

%input-reset {
  display: block;
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  width: 100%;
}

%full-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%bottom-block {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

%top-block {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

%show {
  opacity: 1;
  visibility: visible;
}

%hide {
  opacity: 0;
  visibility: hidden;
}

%nav-arrows {
  @extend %ac;
  @extend %transition;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 0.5;
  }
}

%nav-prev {
  left: -31px;
}

%nav-next {
  right: -31px;
}

%nav-dots {
  display: block;
  text-align: center;
  line-height: 0;

  .owl-dot {
    @extend %transition;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10px;
    margin: 0 2.5px;

    span {
      display: block;
      width: 6px;
      height: 6px;
      margin: 2px;
      border-radius: 50%;
    }

    &.active span {
      @extend %ac-bg;
    }
  }
}

%middle-of-block {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%fira {
  font-family: "Fira Sans", sans-serif;
}

%first-d-m {
  > *:first-child {
    margin-top: 0 !important;
  }
}

%last-d-m {
  > *:last-child {
    margin-bottom: 0 !important;
  }
}

/* 
- Accent color
*/

%ac {
  color: $accent;
}

%ac-bg {
  background: $accent;
}

%ac-bgc {
  background-color: $accent;
}

%ac-bo {
  border-color: $accent;
}
