$default-font: "PT Root UI", sans-serif;
$tt: 'TT Wellingtons', serif;
$text: #151515;
$accent: #0039a6;
$error: #ff6666;
$gray: #F7F9FF;
$h_weight: bold;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$default-font-size: 16;
$grid-gutter-width: 24px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$gutter: $grid-gutter-width;
